@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Poppins:wght@300;400;600&family=Red+Hat+Display:wght@500;900&family=Roboto:wght@400;500;700&display=swap');

body{
    font-family: Poppins, sans-serif; 
    background: #FAFAFA;
}

.section{
    margin: auto;
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reliable{
    color: #4D4F62;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 275;
    line-height: normal;
    letter-spacing: 0.167px;
    padding-top: 85px;
}

.powered{
    color: #4D4F62;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.167px;
}

.description{
    color: #4D4F62;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.104px;
    width: 311px;
    padding-top: 16px;
}

.supervisor,
.team,
.karma,
.calculator{
    width: 311px;
    height: 222px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.50);
}
/* .border {
    width: 311px;
    height: 3.552px;
    flex-shrink: 0;
    background: #44D3D2;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.50);
    position: absolute;
    top: 0;
    overflow: hidden;
    margin-top: 325px;
  } */
.supervisor{
    margin-top: 76px;
}
.team{
    margin-top: 25px;
}
.karma{
    margin-top: 23px;
}
.calculator{
    margin-top: 24px;
    margin-bottom: 78px;
}

.icon{
    padding: 33px 28px 28px 226px;
    width: 57px;
    height: 57px;
    flex-shrink: 0;
}

h3{
    color: #4D4F62;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 27px 149px 1px 28px;
}

.supervisor p,
.team p,
.karma p,
.calculator p{
    color: #4D4F62;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 176.923% */
    letter-spacing: 0.09px;
    width: 254px;
    padding-left: 29px;
}

@media (min-width: 1440px){
    body{
        display: flex;
        width: 1440px;
        padding: 80px 165px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 64px;
    }
    .section{
        position: relative;
    }
    .h2{
        font-size: 36px;
        letter-spacing: 0.25px;
    }

    .team {
        position: absolute;
        padding-top: 64px;
        left: 50%;
        transform: translateX(-50%);
        height: 250px;
    }

    .karma {
        position: absolute;
        top: 600px; /* 250px (height of team) + 30px (space) */
        left: 50%;
        transform: translateX(-50%);
        height: 250px;
    }

    .supervisor {
        position: absolute;
        top: 516px;
        left: 50%;
        transform: translateX(-516.5px) translateY(-50%);
        height: 250px;
    }

    .calculator {
        position: absolute;
        top: 516px;
        right: 50%;
        transform: translateX(516.5px) translateY(-50%); /* 516.5px = half of 1032px */
        height: 250px;
    }

    .supervisor,
    .team,
    .karma,
    .calculator{
        width: 350px;
        height: 250px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #FFF;
        box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.50);
    }

}